* {
	padding: 0;
	margin: 0;
}

body {
	background: url("../images/cloud.gif") repeat center top;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#container {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
}

h1 {
	color: purple;
	font-family: 'Fugaz One', cursive;
	font-size: 75px;
	margin: 0 auto;
	padding-top: 100px;
	/*white-space: nowrap;*/
	text-align: center;
}

#trees {
	background: url("../images/tree.png") repeat center top;
	height: 297px;
	width: 100%;
	margin-bottom: 100px;
	position: fixed;
	bottom: 0;
}

#grass {
	width: 100%;
	height: 300px;
	background-color: #2ecc71;
	position: fixed;
	bottom: 0;
}